@using Pierre.ViewModels

@model LoginViewModel


<div class="container">
  <hr />
  <div id="main">
    @using (Html.BeginForm())
    {
      <div align=center>
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)<br>

        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)<br>

        <br><input type="submit" value="Log in" class="btn btn-success" /><br>
      </div>
    }
  </div>
  <br>
    <ul id="main">
      <li>@Html.ActionLink("Register", "Register")</li>
      <li>@Html.ActionLink("Home", "Index", "Home")</li>
    </ul>
</div>