@using System.Security.Claims;
@using Pierre.Models;

<div class="container">
     
     @if (User.Identity.IsAuthenticated)
      {
            <ul>
            @foreach (Treat treat in @ViewBag.Treats)
            {
              <li>@Html.ActionLink($"{treat.Name}", "Details", "Treats", new { id = treat.TreatId})</li>
            }
            </ul>
            <ul>
            @foreach (Flavor flavor in @ViewBag.Flavors)
            {
              <li>@Html.ActionLink($"{flavor.Name}", "Details", "Flavors", new { id = flavor.FlavorId })</li>
            }
            </ul>  
          <ul id="main">
              <li>@Html.ActionLink("See all Flavors", "Index", "Flavors")</li>
              <li>@Html.ActionLink("See all Treats", "Index", "Treats")</li>
              <li>@Html.ActionLink("Create an account", "Index", "Account")</li>
          </ul> 
      }
      else
      {
        <h2 align=center>You are viewing anomously sign in to be able to make changes!</h2>
      
          <ul id="main">
            <li>@Html.ActionLink("See all Flavors", "Index", "Flavors")</li>
            <li>@Html.ActionLink("See all Treats", "Index", "Treats")</li>
            <li>@Html.ActionLink("Create an account", "Index", "Account")</li>
          </ul>
          
      } 
</div>