@using System.Security.Claims;
@using PierresTreats.Models;

<div class="container">
     
     @if (User.Identity.IsAuthenticated)
      {
        <div id="tableOne">
            <ul>
            @foreach (Treat treat in @ViewBag.Treats)
            {
              <li>@Html.ActionLink($"{treat.Name}", "Details", "Treats", new { id = treat.TreatId})</li>
            }
            </ul>
          </div>
          <div id="tableOne">
            <ul>
            @foreach (Flavor flavor in @ViewBag.Flavors)
            {
              <li>@Html.ActionLink($"{flavor.Name}", "Details", "Flavors", new { id = flavor.FlavorId })</li>
            }
            </ul>
          </div>   
          <table id="table">
            <tr>
              <td>@Html.ActionLink("Your Flavors", "Index", "Flavors")</td> 
              <td>@Html.ActionLink("Your Treats", "Index", "Treats")</td>
              <td>@Html.ActionLink("Account Info", "Index", "Account")</td>
            </tr>
          </table>  
      }
      else
      {
        <table id="table">
          <tr>
            <td>@Html.ActionLink("See all Flavors", "Index", "Flavors")</td> 
            <td>@Html.ActionLink("See all Treats", "Index", "Treats")</td>
            <br><td>@Html.ActionLink("Create an account", "Index", "Account")</td>
          </tr>
        </table> 
      } 
</div>